version: "2"
services:
  app:
    build: .
    restart: always
    volumes:
      - .:/app
  
  nginx:
    image: nginx:alpine
    restart: always
    depends_on:
      - app
    volumes:
      - /nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  
      - /nginx/1733792_wsmen.cn.key:/etc/nginx/server.key:ro
      - /nginx/1733792_wsmen.cn.pem:/etc/nginx/server.pem:ro
    ports:
      - 80:80    
      - 443:443

